body {
    padding: 0;
    font-family: 'Arial', sans-serif; /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-image: url("Resources/Images/cosmicYogi.jfif")
  }
  
  .container {
    text-align: center;
    padding: 20px;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    position: relative;
  }
  .generate-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Add a margin to create space between the message container and button */
  }
  #imgElement {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    height: 600px;
    object-fit: cover;
  }
  
  .message-container {
    margin-top: 20px;
    font-size: 18px;
    color: #fff; /* White text to contrast the dark background */
    z-index: 2;
    border: black solid 2px;
    background: rgba(0, 0, 0, 0.6)
  }
  .message-container img {
    display:none;
  }